<%- include('header'); -%>
<div class="content">
  <h1 id="welcome">WELCOME to Webstore</h1>
</div>

 <div class="content">
  <h2 id="contacts">Faith Muraino <br> Heriot-Watt University Dubai <br> 045717000 <br> fm2020@hw.ac.uk</h2>
 </div>
<%- include('footer'); -%>
